---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>

  <h2>Server Side / Client Side Rendering Example</h2>

  <Greeting messages={[
    "Rihanna is better than Taylor Swift", 
    "Firefox is better than Chrome", 
    "Reebok Pumps are better than Nike Air Jordan 1's", 
    "Loom Croissants are over-rated",
    "Pepsi is better than Coca-Cola",
    "Marcus is awesome!"
  ]} />

</BaseLayout>

<!-- <Greeting client:load messages -->