---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>

  <h2>Server Side / Client Side Rendering Example</h2>

  <Greeting client:load messages={["Rihanna is better than Taylor Swift", "Firefox is better than Chrome", "Reebok is better than Nike", "Loom Croissants are over-rated"]} />
  
</BaseLayout>